<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.actor.ActorMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into actor
			(sn,actor_name,platform_id,wx_id,label,
			homepage_link,organization,attribute_one,attribute_two,attribute_extension,
			quoted_price,fans_num,province,city,shipping_address,
			linkman,contact_number,job_wx,business_owner,total_view,
			average_view,create_user_id,create_user_name,remark,created_at,
			updated_at)
		values
			(#{sn},#{actor_name},#{platform_id},#{wx_id},#{label},
			#{homepage_link},#{organization},#{attribute_one},#{attribute_two},#{attribute_extension},
			#{quoted_price},#{fans_num},#{province},#{city},#{shipping_address},
			#{linkman},#{contact_number},#{job_wx},#{business_owner},#{total_view},
			#{average_view},#{create_user_id},#{create_user_name},#{remark},#{created_at},
			#{updated_at})
	</insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into actor
        (sn,actor_name,platform_id,wx_id,label,
        homepage_link,organization,attribute_one,attribute_two,attribute_extension,
        quoted_price,fans_num,province,city,shipping_address,
        linkman,contact_number,job_wx,business_owner,total_view,
        average_view,create_user_id,create_user_name,remark,created_at,
        updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.sn},#{item.actor_name},#{item.platform_id},#{item.wx_id},#{item.label},
            #{item.homepage_link},#{item.organization},#{item.attribute_one},#{item.attribute_two},#{item.attribute_extension},
            #{item.quoted_price},#{item.fans_num},#{item.province},#{item.city},#{item.shipping_address},
            #{item.linkman},#{item.contact_number},#{item.job_wx},#{item.business_owner},#{item.total_view},
            #{item.average_view},#{item.create_user_id},#{item.create_user_name},#{item.remark},#{item.created_at},
            #{item.updated_at})
        </foreach>
    </insert>

    <update id="delete">
		update actor set delete_status = 1,deleted_at = #{deleted_at} where id = #{id}
	</update>

    <update id="deleteByIds">
        update actor set delete_status = 1, deleted_at = #{deleted_at} where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="update">
        update actor
        <set>
            <if test="sn != null and sn !='' ">
                sn = #{sn},
            </if>
            <if test="actor_name != null and actor_name !='' ">
                actor_name = #{actor_name},
            </if>
            <if test="platform_id != null and platform_id !='' ">
                platform_id = #{platform_id},
            </if>
            <if test="wx_id != null and wx_id !='' ">
                wx_id = #{wx_id},
            </if>
            <if test="label != null and label !='' ">
                label = #{label},
            </if>
            <if test="homepage_link != null and homepage_link !='' ">
                homepage_link = #{homepage_link},
            </if>
            <if test="organization != null and organization !='' ">
                organization = #{organization},
            </if>
            <if test="attribute_one != null and attribute_one !='' ">
                attribute_one = #{attribute_one},
            </if>
            <if test="attribute_two != null and attribute_two !='' ">
                attribute_two = #{attribute_two},
            </if>
            <if test="attribute_extension != null and attribute_extension !='' ">
                attribute_extension = #{attribute_extension},
            </if>
            <if test="quoted_price != null ">
                quoted_price = #{quoted_price},
            </if>
            <if test="fans_num != null ">
                fans_num = #{fans_num},
            </if>
            <if test="province != null and province !='' ">
                province = #{province},
            </if>
            <if test="city != null and city !='' ">
                city = #{city},
            </if>
            <if test="shipping_address != null and shipping_address !='' ">
                shipping_address = #{shipping_address},
            </if>
            <if test="linkman != null and linkman !='' ">
                linkman = #{linkman},
            </if>
            <if test="contact_number != null and contact_number !='' ">
                contact_number = #{contact_number},
            </if>
            <if test="job_wx != null and job_wx !='' ">
                job_wx = #{job_wx},
            </if>
            <if test="business_owner != null and business_owner !='' ">
                business_owner = #{business_owner},
            </if>
            <if test="total_view != null and total_view !='' ">
                total_view = #{total_view},
            </if>
            <if test="average_view != null and average_view !='' ">
                average_view = #{average_view},
            </if>
            <if test="create_user_id != null ">
                create_user_id = #{create_user_id},
            </if>
            <if test="create_user_name != null and create_user_name !='' ">
                create_user_name = #{create_user_name},
            </if>
            <if test="remark != null and remark !='' ">
                remark = #{remark},
            </if>
            <if test="updated_at != null ">
                updated_at = #{updated_at},
            </if>

        </set>
        where id = #{id}
    </update>

    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            update actor
            <set>
                <if test="item.sn != null and item.sn !='' ">
                    sn = #{item.sn},
                </if>
                <if test="item.actor_name != null and item.actor_name !='' ">
                    actor_name = #{item.actor_name},
                </if>
                <if test="item.platform_id != null and item.platform_id !='' ">
                    platform_id = #{item.platform_id},
                </if>
                <if test="item.wx_id != null and item.wx_id !='' ">
                    wx_id = #{item.wx_id},
                </if>
                <if test="item.label != null and item.label !='' ">
                    label = #{item.label},
                </if>
                <if test="item.homepage_link != null and item.homepage_link !='' ">
                    homepage_link = #{item.homepage_link},
                </if>
                <if test="item.organization != null and item.organization !='' ">
                    organization = #{item.organization},
                </if>
                <if test="item.attribute_one != null and item.attribute_one !='' ">
                    attribute_one = #{item.attribute_one},
                </if>
                <if test="item.attribute_two != null and item.attribute_two !='' ">
                    attribute_two = #{item.attribute_two},
                </if>
                <if test="item.attribute_extension != null and item.attribute_extension !='' ">
                    attribute_extension = #{item.attribute_extension},
                </if>
                <if test="item.quoted_price != null ">
                    quoted_price = #{item.quoted_price},
                </if>
                <if test="item.fans_num != null ">
                    fans_num = #{item.fans_num},
                </if>
                <if test="item.province != null and item.province !='' ">
                    province = #{item.province},
                </if>
                <if test="item.city != null and item.city !='' ">
                    city = #{item.city},
                </if>
                <if test="item.shipping_address != null and item.shipping_address !='' ">
                    shipping_address = #{item.shipping_address},
                </if>
                <if test="item.linkman != null and item.linkman !='' ">
                    linkman = #{item.linkman},
                </if>
                <if test="item.contact_number != null and item.contact_number !='' ">
                    contact_number = #{item.contact_number},
                </if>
                <if test="item.job_wx != null and item.job_wx !='' ">
                    job_wx = #{item.job_wx},
                </if>
                <if test="item.business_owner != null and item.business_owner !='' ">
                    business_owner = #{item.business_owner},
                </if>
                <if test="item.total_view != null and item.total_view !='' ">
                    total_view = #{item.total_view},
                </if>
                <if test="item.average_view != null and item.average_view !='' ">
                    average_view = #{item.average_view},
                </if>
                <if test="item.create_user_id != null ">
                    create_user_id = #{item.create_user_id},
                </if>
                <if test="item.create_user_name != null and item.create_user_name !='' ">
                    create_user_name = #{item.create_user_name},
                </if>
                <if test="item.remark != null and item.remark !='' ">
                    remark = #{item.remark},
                </if>
                <if test="item.updated_at != null ">
                    updated_at = #{item.updated_at},
                </if>

            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getById" resultType="actor">
		select
			id,sn,actor_name,platform_id,wx_id,
			label,homepage_link,organization,attribute_one,attribute_two,
			attribute_extension,quoted_price,fans_num,province,city,
			shipping_address,linkman,contact_number,job_wx,business_owner,
			total_view,average_view,create_user_id,create_user_name,remark,
			created_at,updated_at,deleted_at,delete_status
		from actor
		where id = #{id}
	</select>

    <select id="getAll" resultType="actor">
		select
			id,sn,actor_name,platform_id,wx_id,
			label,homepage_link,organization,attribute_one,attribute_two,
			attribute_extension,quoted_price,fans_num,province,city,
			shipping_address,linkman,contact_number,job_wx,business_owner,
			total_view,average_view,create_user_id,create_user_name,remark,
			created_at,updated_at
		from actor
		where delete_status = 0
	</select>

    <select id="getOneBySelectKey" resultType="actor">
        select
        id,sn,actor_name,platform_id,wx_id,
        label,homepage_link,organization,attribute_one,attribute_two,
        attribute_extension,quoted_price,fans_num,province,city,
        shipping_address,linkman,contact_number,job_wx,business_owner,
        total_view,average_view,create_user_id,create_user_name,remark,
        created_at,updated_at
        from actor
        where delete_status = 0
        <if test="sn != null and sn !=''">
            and sn = #{sn}
        </if>
        <if test="actor_name != null and actor_name !=''">
            and actor_name = #{actor_name}
        </if>
        <if test="platform_id != null and platform_id !=''">
            and platform_id = #{platform_id}
        </if>
        <if test="wx_id != null and wx_id !=''">
            and wx_id = #{wx_id}
        </if>
        <if test="label != null and label !=''">
            and label = #{label}
        </if>
        <if test="homepage_link != null and homepage_link !=''">
            and homepage_link = #{homepage_link}
        </if>
        <if test="organization != null and organization !=''">
            and organization = #{organization}
        </if>
        <if test="attribute_one != null and attribute_one !=''">
            and attribute_one = #{attribute_one}
        </if>
        <if test="attribute_two != null and attribute_two !=''">
            and attribute_two = #{attribute_two}
        </if>
        <if test="attribute_extension != null and attribute_extension !=''">
            and attribute_extension = #{attribute_extension}
        </if>
        <if test="quoted_price != null">
            and quoted_price = #{quoted_price}
        </if>
        <if test="fans_num != null">
            and fans_num = #{fans_num}
        </if>
        <if test="province != null and province !=''">
            and province = #{province}
        </if>
        <if test="city != null and city !=''">
            and city = #{city}
        </if>
        <if test="shipping_address != null and shipping_address !=''">
            and shipping_address = #{shipping_address}
        </if>
        <if test="linkman != null and linkman !=''">
            and linkman = #{linkman}
        </if>
        <if test="contact_number != null and contact_number !=''">
            and contact_number = #{contact_number}
        </if>
        <if test="job_wx != null and job_wx !=''">
            and job_wx = #{job_wx}
        </if>
        <if test="business_owner != null and business_owner !=''">
            and business_owner = #{business_owner}
        </if>
        <if test="total_view != null and total_view !=''">
            and total_view = #{total_view}
        </if>
        <if test="average_view != null and average_view !=''">
            and average_view = #{average_view}
        </if>
        <if test="create_user_id != null">
            and create_user_id = #{create_user_id}
        </if>
        <if test="create_user_name != null and create_user_name !=''">
            and create_user_name = #{create_user_name}
        </if>
        <if test="remark != null and remark !=''">
            and remark = #{remark}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

        limit 1
    </select>

    <select id="getAllBySelectKey" resultType="actor">
        select
        id,sn,actor_name,platform_id,wx_id,
        label,homepage_link,organization,attribute_one,attribute_two,
        attribute_extension,quoted_price,fans_num,province,city,
        shipping_address,linkman,contact_number,job_wx,business_owner,
        total_view,average_view,create_user_id,create_user_name,remark,
        created_at,updated_at
        from actor
        where delete_status = 0
        <if test="sn != null and sn !=''">
            and sn = #{sn}
        </if>
        <if test="actor_name != null and actor_name !=''">
            and actor_name = #{actor_name}
        </if>
        <if test="platform_id != null and platform_id !=''">
            and platform_id = #{platform_id}
        </if>
        <if test="wx_id != null and wx_id !=''">
            and wx_id = #{wx_id}
        </if>
        <if test="label != null and label !=''">
            and label = #{label}
        </if>
        <if test="homepage_link != null and homepage_link !=''">
            and homepage_link = #{homepage_link}
        </if>
        <if test="organization != null and organization !=''">
            and organization = #{organization}
        </if>
        <if test="attribute_one != null and attribute_one !=''">
            and attribute_one = #{attribute_one}
        </if>
        <if test="attribute_two != null and attribute_two !=''">
            and attribute_two = #{attribute_two}
        </if>
        <if test="attribute_extension != null and attribute_extension !=''">
            and attribute_extension = #{attribute_extension}
        </if>
        <if test="quoted_price != null">
            and quoted_price = #{quoted_price}
        </if>
        <if test="fans_num != null">
            and fans_num = #{fans_num}
        </if>
        <if test="province != null and province !=''">
            and province = #{province}
        </if>
        <if test="city != null and city !=''">
            and city = #{city}
        </if>
        <if test="shipping_address != null and shipping_address !=''">
            and shipping_address = #{shipping_address}
        </if>
        <if test="linkman != null and linkman !=''">
            and linkman = #{linkman}
        </if>
        <if test="contact_number != null and contact_number !=''">
            and contact_number = #{contact_number}
        </if>
        <if test="job_wx != null and job_wx !=''">
            and job_wx = #{job_wx}
        </if>
        <if test="business_owner != null and business_owner !=''">
            and business_owner = #{business_owner}
        </if>
        <if test="total_view != null and total_view !=''">
            and total_view = #{total_view}
        </if>
        <if test="average_view != null and average_view !=''">
            and average_view = #{average_view}
        </if>
        <if test="create_user_id != null">
            and create_user_id = #{create_user_id}
        </if>
        <if test="create_user_name != null and create_user_name !=''">
            and create_user_name = #{create_user_name}
        </if>
        <if test="remark != null and remark !=''">
            and remark = #{remark}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

    </select>


    <select id="getMaxSn" resultType="java.lang.String">
        select max(sn) from actor
    </select>

    <select id="countByPage" resultType="java.lang.Integer">
        select count(1)
        from actor a
        where a.delete_status = 0
        <if test="keyword != null and keyword != ''">
            and (a.sn like concat('%',#{keyword},'%') or
            a.actor_name like concat('%',#{keyword},'%') or a.platform_id like concat('%',#{keyword},'%') )
        </if>
        <if test="create_user_id != null">
            and a.create_user_id = #{create_user_id}
        </if>
        <if test="ids != null and ids != '' ">
            and FIND_IN_SET(a.id,#{ids})
        </if>
        <if test="wx_id != null and wx_id !=''">
            and a.wx_id = #{wx_id}
        </if>
        <if test="label != null and label !=''">
            and a.label = #{label}
        </if>
        <if test="homepage_link != null and homepage_link !=''">
            and a.homepage_link = #{homepage_link}
        </if>
        <if test="organization != null and organization !=''">
            and a.organization = #{organization}
        </if>
        <if test="attribute_one != null and attribute_one !=''">
            and a.attribute_one = #{attribute_one}
        </if>
        <if test="attribute_two != null and attribute_two !=''">
            and a.attribute_two = #{attribute_two}
        </if>
        <if test="attribute_extension != null and attribute_extension !=''">
            and a.attribute_extension = #{attribute_extension}
        </if>
        <if test="quoted_price != null">
            and a.quoted_price = #{quoted_price}
        </if>
        <if test="fans_num != null">
            and a.fans_num = #{fans_num}
        </if>
        <if test="province != null and province !=''">
            and a.province = #{province}
        </if>
        <if test="city != null and city !=''">
            and a.city = #{city}
        </if>
        <if test="shipping_address != null and shipping_address !=''">
            and a.shipping_address = #{shipping_address}
        </if>
        <if test="linkman != null and linkman !=''">
            and a.linkman = #{linkman}
        </if>
        <if test="contact_number != null and contact_number !=''">
            and a.contact_number = #{contact_number}
        </if>
        <if test="job_wx != null and job_wx !=''">
            and a.job_wx = #{job_wx}
        </if>
        <if test="business_owner != null and business_owner !=''">
            and a.business_owner = #{business_owner}
        </if>
        <if test="remark != null and remark !=''">
            and a.remark = #{remark}
        </if>
        <if test="total_view != null and total_view !=''">
            and a.total_view = #{total_view}
        </if>
        <if test="average_view != null and average_view !=''">
            and a.average_view = #{average_view}
        </if>
        <if test="create_start != null and create_start != ''">
            and a.created_at &gt;= #{create_start}
        </if>
        <if test="create_end != null and create_end != ''">
            and a.created_at &lt;= #{create_end}
        </if>
    </select>

    <select id="getByPage" resultType="actor">
		select
        a.id,a.sn,a.actor_name,a.platform_id,a.wx_id,
        a.label,a.homepage_link,a.organization,a.attribute_one,a.attribute_two,
        a.attribute_extension,a.quoted_price,a.fans_num,a.province,city,
        a.shipping_address,a.linkman,a.contact_number,a.job_wx,a.business_owner,
        a.create_user_id,a.create_user_name,a.total_view,a.average_view,a.remark,a.created_at,a.updated_at
		from actor a
        where a.delete_status = 0
		<if test="keyword != null and keyword != ''">
            and (a.sn like concat('%',#{keyword},'%') or
            a.actor_name like concat('%',#{keyword},'%') or a.platform_id like concat('%',#{keyword},'%') )
        </if>
        <if test="create_user_id != null">
            and a.create_user_id = #{create_user_id}
        </if>
        <if test="ids != null and ids != '' ">
            and FIND_IN_SET(a.id,#{ids})
        </if>
        <if test="wx_id != null and wx_id !=''">
            and a.wx_id = #{wx_id}
        </if>
        <if test="label != null and label !=''">
            and a.label = #{label}
        </if>
        <if test="homepage_link != null and homepage_link !=''">
            and a.homepage_link = #{homepage_link}
        </if>
        <if test="organization != null and organization !=''">
            and a.organization = #{organization}
        </if>
        <if test="attribute_one != null and attribute_one !=''">
            and a.attribute_one = #{attribute_one}
        </if>
        <if test="attribute_two != null and attribute_two !=''">
            and a.attribute_two = #{attribute_two}
        </if>
        <if test="attribute_extension != null and attribute_extension !=''">
            and a.attribute_extension = #{attribute_extension}
        </if>
        <if test="quoted_price != null">
            and a.quoted_price = #{quoted_price}
        </if>
        <if test="fans_num != null">
            and a.fans_num = #{fans_num}
        </if>
        <if test="province != null and province !=''">
            and a.province = #{province}
        </if>
        <if test="city != null and city !=''">
            and a.city = #{city}
        </if>
        <if test="shipping_address != null and shipping_address !=''">
            and a.shipping_address = #{shipping_address}
        </if>
        <if test="linkman != null and linkman !=''">
            and a.linkman = #{linkman}
        </if>
        <if test="contact_number != null and contact_number !=''">
            and a.contact_number = #{contact_number}
        </if>
        <if test="job_wx != null and job_wx !=''">
            and a.job_wx = #{job_wx}
        </if>
        <if test="business_owner != null and business_owner !=''">
            and a.business_owner = #{business_owner}
        </if>
        <if test="total_view != null and total_view !=''">
            and a.total_view = #{total_view}
        </if>
        <if test="average_view != null and average_view !=''">
            and a.average_view = #{average_view}
        </if>
        <if test="remark != null and remark !=''">
            and a.remark = #{remark}
        </if>
        <if test="create_start != null and create_start != ''">
            and a.created_at &gt;= #{create_start}
        </if>
        <if test="create_end != null and create_end != ''">
            and a.created_at &lt;= #{create_end}
        </if>
        order by a.created_at desc ,a.sn desc
        limit #{offset},#{limit}
    </select>


</mapper>