<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.console.BussProcessGoalMapper">


    <update id="insertDuplicateBatch" useGeneratedKeys="true" keyProperty="id">
        <foreach collection="list" item="item" separator=";">
            insert into buss_process_goal
                (user_id,team_id,customer_category_id,goal_month,cover_s,
                cover_t,cover_y,cover_c,visit_s,visit_t,
                visit_y,visit_c,deal_s,deal_t,deal_y,
                deal_c,active_s,active_t,active_y,active_c,
                created_at,updated_at)
            values
                (#{item.user_id},#{item.team_id},#{item.customer_category_id},#{item.goal_month},#{item.cover_s},
                #{item.cover_t},#{item.cover_y},#{item.cover_c},#{item.visit_s},#{item.visit_t},
                #{item.visit_y},#{item.visit_c},#{item.deal_s},#{item.deal_t},#{item.deal_y},
                #{item.deal_c},#{item.active_s},#{item.active_t},#{item.active_y},#{item.active_c},
                #{item.created_at},#{item.updated_at})
            on duplicate key update
                cover_s = #{item.cover_s}, cover_t = #{item.cover_t}, cover_y = #{item.cover_y}, cover_c = #{item.cover_c},
                visit_s = #{item.visit_s},visit_t = #{item.visit_t},visit_y = #{item.visit_y},visit_c = #{item.visit_c},
                deal_s = #{item.deal_s}, deal_t = #{item.deal_t},deal_y = #{item.deal_y}, deal_c = #{item.deal_c},
                active_s = #{item.active_s}, active_t = #{item.active_t}, active_y = #{item.active_y},active_c = #{item.active_c},updated_at = #{item.updated_at}
        </foreach>
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into buss_process_goal
			(user_id,team_id,customer_category_id,goal_month,cover_s,
			cover_t,cover_y,cover_c,visit_s,visit_t,
			visit_y,visit_c,deal_s,deal_t,deal_y,
			deal_c,active_s,active_t,active_y,active_c,
			created_at,updated_at)
		values
			(#{user_id},#{team_id},#{customer_category_id},#{goal_month},#{cover_s},
			#{cover_t},#{cover_y},#{cover_c},#{visit_s},#{visit_t},
			#{visit_y},#{visit_c},#{deal_s},#{deal_t},#{deal_y},
			#{deal_c},#{active_s},#{active_t},#{active_y},#{active_c},
			#{created_at},#{updated_at})
	</insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into buss_process_goal
        (user_id,team_id,customer_category_id,goal_month,cover_s,
        cover_t,cover_y,cover_c,visit_s,visit_t,
        visit_y,visit_c,deal_s,deal_t,deal_y,
        deal_c,active_s,active_t,active_y,active_c,
        created_at,updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.user_id},#{item.team_id},#{item.customer_category_id},#{item.goal_month},#{item.cover_s},
            #{item.cover_t},#{item.cover_y},#{item.cover_c},#{item.visit_s},#{item.visit_t},
            #{item.visit_y},#{item.visit_c},#{item.deal_s},#{item.deal_t},#{item.deal_y},
            #{item.deal_c},#{item.active_s},#{item.active_t},#{item.active_y},#{item.active_c},
            #{item.created_at},#{item.updated_at})
        </foreach>
    </insert>

    <delete id="delete">
		delete from buss_process_goal where id = #{id}
	</delete>

    <delete id="deleteByIds">
        delete from buss_process_goal where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update">
        update buss_process_goal
        <set>
            <if test="user_id != null ">
                user_id = #{user_id},
            </if>
            <if test="team_id != null ">
                team_id = #{team_id},
            </if>
            <if test="customer_category_id != null ">
                customer_category_id = #{customer_category_id},
            </if>
            <if test="goal_month != null ">
                goal_month = #{goal_month},
            </if>
            <if test="cover_s != null ">
                cover_s = #{cover_s},
            </if>
            <if test="cover_t != null ">
                cover_t = #{cover_t},
            </if>
            <if test="cover_y != null ">
                cover_y = #{cover_y},
            </if>
            <if test="cover_c != null ">
                cover_c = #{cover_c},
            </if>
            <if test="visit_s != null ">
                visit_s = #{visit_s},
            </if>
            <if test="visit_t != null ">
                visit_t = #{visit_t},
            </if>
            <if test="visit_y != null ">
                visit_y = #{visit_y},
            </if>
            <if test="visit_c != null ">
                visit_c = #{visit_c},
            </if>
            <if test="deal_s != null ">
                deal_s = #{deal_s},
            </if>
            <if test="deal_t != null ">
                deal_t = #{deal_t},
            </if>
            <if test="deal_y != null ">
                deal_y = #{deal_y},
            </if>
            <if test="deal_c != null ">
                deal_c = #{deal_c},
            </if>
            <if test="active_s != null ">
                active_s = #{active_s},
            </if>
            <if test="active_t != null ">
                active_t = #{active_t},
            </if>
            <if test="active_y != null ">
                active_y = #{active_y},
            </if>
            <if test="active_c != null ">
                active_c = #{active_c},
            </if>
            <if test="updated_at != null ">
                updated_at = #{updated_at},
            </if>

        </set>
        where id = #{id}
    </update>

    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            update buss_process_goal
            <set>
                <if test="item.user_id != null ">
                    user_id = #{item.user_id},
                </if>
                <if test="item.team_id != null ">
                    team_id = #{item.team_id},
                </if>
                <if test="item.customer_category_id != null ">
                    customer_category_id = #{item.customer_category_id},
                </if>
                <if test="item.goal_month != null ">
                    goal_month = #{item.goal_month},
                </if>
                <if test="item.cover_s != null ">
                    cover_s = #{item.cover_s},
                </if>
                <if test="item.cover_t != null ">
                    cover_t = #{item.cover_t},
                </if>
                <if test="item.cover_y != null ">
                    cover_y = #{item.cover_y},
                </if>
                <if test="item.cover_c != null ">
                    cover_c = #{item.cover_c},
                </if>
                <if test="item.visit_s != null ">
                    visit_s = #{item.visit_s},
                </if>
                <if test="item.visit_t != null ">
                    visit_t = #{item.visit_t},
                </if>
                <if test="item.visit_y != null ">
                    visit_y = #{item.visit_y},
                </if>
                <if test="item.visit_c != null ">
                    visit_c = #{item.visit_c},
                </if>
                <if test="item.deal_s != null ">
                    deal_s = #{item.deal_s},
                </if>
                <if test="item.deal_t != null ">
                    deal_t = #{item.deal_t},
                </if>
                <if test="item.deal_y != null ">
                    deal_y = #{item.deal_y},
                </if>
                <if test="item.deal_c != null ">
                    deal_c = #{item.deal_c},
                </if>
                <if test="item.active_s != null ">
                    active_s = #{item.active_s},
                </if>
                <if test="item.active_t != null ">
                    active_t = #{item.active_t},
                </if>
                <if test="item.active_y != null ">
                    active_y = #{item.active_y},
                </if>
                <if test="item.active_c != null ">
                    active_c = #{item.active_c},
                </if>
                <if test="item.updated_at != null ">
                    updated_at = #{item.updated_at},
                </if>

            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getById" resultType="bussProcessGoal">
		select
			id,user_id,team_id,customer_category_id,goal_month,
			cover_s,cover_t,cover_y,cover_c,visit_s,
			visit_t,visit_y,visit_c,deal_s,deal_t,
			deal_y,deal_c,active_s,active_t,active_y,
			active_c,created_at,updated_at
		from buss_process_goal
		where id = #{id}
	</select>

    <select id="getAll" resultType="bussProcessGoal">
		select
			id,user_id,team_id,customer_category_id,goal_month,
			cover_s,cover_t,cover_y,cover_c,visit_s,
			visit_t,visit_y,visit_c,deal_s,deal_t,
			deal_y,deal_c,active_s,active_t,active_y,
			active_c,created_at,updated_at
		from buss_process_goal
	</select>

    <select id="getOneBySelectKey" resultType="bussProcessGoal">
        select
        id,user_id,team_id,customer_category_id,goal_month,
        cover_s,cover_t,cover_y,cover_c,visit_s,
        visit_t,visit_y,visit_c,deal_s,deal_t,
        deal_y,deal_c,active_s,active_t,active_y,
        active_c,created_at,updated_at
        from buss_process_goal
        where 1 = 1
        <if test="user_id != null">
            and user_id = #{user_id}
        </if>
        <if test="team_id != null">
            and team_id = #{team_id}
        </if>
        <if test="customer_category_id != null">
            and customer_category_id = #{customer_category_id}
        </if>
        <if test="goal_month != null">
            and goal_month = #{goal_month}
        </if>
        <if test="cover_s != null">
            and cover_s = #{cover_s}
        </if>
        <if test="cover_t != null">
            and cover_t = #{cover_t}
        </if>
        <if test="cover_y != null">
            and cover_y = #{cover_y}
        </if>
        <if test="cover_c != null">
            and cover_c = #{cover_c}
        </if>
        <if test="visit_s != null">
            and visit_s = #{visit_s}
        </if>
        <if test="visit_t != null">
            and visit_t = #{visit_t}
        </if>
        <if test="visit_y != null">
            and visit_y = #{visit_y}
        </if>
        <if test="visit_c != null">
            and visit_c = #{visit_c}
        </if>
        <if test="deal_s != null">
            and deal_s = #{deal_s}
        </if>
        <if test="deal_t != null">
            and deal_t = #{deal_t}
        </if>
        <if test="deal_y != null">
            and deal_y = #{deal_y}
        </if>
        <if test="deal_c != null">
            and deal_c = #{deal_c}
        </if>
        <if test="active_s != null">
            and active_s = #{active_s}
        </if>
        <if test="active_t != null">
            and active_t = #{active_t}
        </if>
        <if test="active_y != null">
            and active_y = #{active_y}
        </if>
        <if test="active_c != null">
            and active_c = #{active_c}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

        limit 1
    </select>

    <select id="getAllBySelectKey" resultType="bussProcessGoal">
        select
        id,user_id,team_id,customer_category_id,goal_month,
        cover_s,cover_t,cover_y,cover_c,visit_s,
        visit_t,visit_y,visit_c,deal_s,deal_t,
        deal_y,deal_c,active_s,active_t,active_y,
        active_c,created_at,updated_at
        from buss_process_goal
        where 1 = 1
        <if test="userIds != null and userIds.size>0 ">
            and user_id in
            <foreach collection="userIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="user_id != null">
            and user_id = #{user_id}
        </if>
        <if test="team_id != null">
            and team_id = #{team_id}
        </if>
        <if test="customer_category_id != null">
            and customer_category_id = #{customer_category_id}
        </if>
        <if test="goal_month != null">
            and goal_month = #{goal_month}
        </if>
        <if test="cover_s != null">
            and cover_s = #{cover_s}
        </if>
        <if test="cover_t != null">
            and cover_t = #{cover_t}
        </if>
        <if test="cover_y != null">
            and cover_y = #{cover_y}
        </if>
        <if test="cover_c != null">
            and cover_c = #{cover_c}
        </if>
        <if test="visit_s != null">
            and visit_s = #{visit_s}
        </if>
        <if test="visit_t != null">
            and visit_t = #{visit_t}
        </if>
        <if test="visit_y != null">
            and visit_y = #{visit_y}
        </if>
        <if test="visit_c != null">
            and visit_c = #{visit_c}
        </if>
        <if test="deal_s != null">
            and deal_s = #{deal_s}
        </if>
        <if test="deal_t != null">
            and deal_t = #{deal_t}
        </if>
        <if test="deal_y != null">
            and deal_y = #{deal_y}
        </if>
        <if test="deal_c != null">
            and deal_c = #{deal_c}
        </if>
        <if test="active_s != null">
            and active_s = #{active_s}
        </if>
        <if test="active_t != null">
            and active_t = #{active_t}
        </if>
        <if test="active_y != null">
            and active_y = #{active_y}
        </if>
        <if test="active_c != null">
            and active_c = #{active_c}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

    </select>

</mapper>