<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.customer.CustomerShopContactMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into customer_shop_contact
			(customer_shop_id,person,person_title,mobile,wangwang,
			wx,created_at,updated_at)
		values
			(#{customer_shop_id},#{person},#{person_title},#{mobile},#{wangwang},
			#{wx},#{created_at},#{updated_at})
	</insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into customer_shop_contact
        (customer_shop_id,person,person_title,mobile,wangwang,
        wx,created_at,updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.customer_shop_id},#{item.person},#{item.person_title},#{item.mobile},#{item.wangwang},
            #{item.wx},#{item.created_at},#{item.updated_at})
        </foreach>
    </insert>

    <delete id="delete">
		delete from customer_shop_contact where id = #{id}
	</delete>

    <delete id="deleteByIds">
        delete from customer_shop_contact where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update">
        update customer_shop_contact
        <set>
            <if test="customer_shop_id != null ">
                customer_shop_id = #{customer_shop_id},
            </if>
            <if test="person != null and person !='' ">
                person = #{person},
            </if>
            <if test="person_title != null and person_title !='' ">
                person_title = #{person_title},
            </if>
            <if test="mobile != null and mobile !='' ">
                mobile = #{mobile},
            </if>
            <if test="wangwang != null and wangwang !='' ">
                wangwang = #{wangwang},
            </if>
            <if test="wx != null and wx !='' ">
                wx = #{wx},
            </if>
            <if test="updated_at != null ">
                updated_at = #{updated_at},
            </if>

        </set>
        where id = #{id}
    </update>

    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            update customer_shop_contact
            <set>
                <if test="item.customer_shop_id != null ">
                    customer_shop_id = #{item.customer_shop_id},
                </if>
                <if test="item.person != null and item.person !='' ">
                    person = #{item.person},
                </if>
                <if test="item.person_title != null and item.person_title !='' ">
                    person_title = #{item.person_title},
                </if>
                <if test="item.mobile != null and item.mobile !='' ">
                    mobile = #{item.mobile},
                </if>
                <if test="item.wangwang != null and item.wangwang !='' ">
                    wangwang = #{item.wangwang},
                </if>
                <if test="item.wx != null and item.wx !='' ">
                    wx = #{item.wx},
                </if>
                <if test="item.updated_at != null ">
                    updated_at = #{item.updated_at},
                </if>

            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getById" resultType="customerShopContact">
		select
			id,customer_shop_id,person,person_title,mobile,
			wangwang,wx,created_at,updated_at
		from customer_shop_contact
		where id = #{id}
	</select>

    <select id="getAll" resultType="customerShopContact">
		select
			id,customer_shop_id,person,person_title,mobile,
			wangwang,wx,created_at,updated_at
		from customer_shop_contact
	</select>

    <select id="getOneBySelectKey" resultType="customerShopContact">
        select
        id,customer_shop_id,person,person_title,mobile,
        wangwang,wx,created_at,updated_at
        from customer_shop_contact
        where 1 = 1
        <if test="customer_shop_id != null">
            and customer_shop_id = #{customer_shop_id}
        </if>
        <if test="person != null and person !=''">
            and person = #{person}
        </if>
        <if test="person_title != null and person_title !=''">
            and person_title = #{person_title}
        </if>
        <if test="mobile != null and mobile !=''">
            and mobile = #{mobile}
        </if>
        <if test="wangwang != null and wangwang !=''">
            and wangwang = #{wangwang}
        </if>
        <if test="wx != null and wx !=''">
            and wx = #{wx}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

        limit 1
    </select>

    <select id="getAllBySelectKey" resultType="customerShopContact">
        select
        id,customer_shop_id,person,person_title,mobile,
        wangwang,wx,created_at,updated_at
        from customer_shop_contact
        where 1 = 1
        <if test="customer_shop_id != null">
            and customer_shop_id = #{customer_shop_id}
        </if>
        <if test="person != null and person !=''">
            and person = #{person}
        </if>
        <if test="person_title != null and person_title !=''">
            and person_title = #{person_title}
        </if>
        <if test="mobile != null and mobile !=''">
            and mobile = #{mobile}
        </if>
        <if test="wangwang != null and wangwang !=''">
            and wangwang = #{wangwang}
        </if>
        <if test="wx != null and wx !=''">
            and wx = #{wx}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

    </select>

</mapper>