<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.customer.CustomerReleaseMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into customer_release
			(id,sn,name,process_user_id,team_id,customer_category_id,
			customer_gradation,release_type,left_day,allocate_again,created_at,updated_at)
		values
			(#{id},#{sn},#{name},#{process_user_id},#{team_id},#{customer_category_id},
			#{customer_gradation},#{release_type},#{left_day},#{allocate_again},#{created_at},#{updated_at})
	</insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into customer_release
        (id,sn,name,process_user_id,team_id,customer_category_id,
        customer_gradation,release_type,left_day,allocate_again,created_at,updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.sn},#{item.name},#{item.process_user_id},#{item.team_id},#{item.customer_category_id},
            #{item.customer_gradation},#{item.release_type},#{item.left_day},#{item.allocate_again},#{item.created_at},#{item.updated_at})
        </foreach>
    </insert>

    <delete id="delete">
		delete from customer_release where id = #{id}
	</delete>

    <delete id="deleteByIds">
        delete from customer_release where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update">
        update customer_release
        <set>
            <if test="sn != null and sn !='' ">
                sn = #{sn},
            </if>
            <if test="name != null and name !='' ">
                name = #{name},
            </if>
            <if test="process_user_id != null ">
                process_user_id = #{process_user_id},
            </if>
            <if test="team_id != null ">
                team_id = #{team_id},
            </if>
            <if test="customer_category_id != null ">
                customer_category_id = #{customer_category_id},
            </if>
            <if test="customer_gradation != null and customer_gradation !='' ">
                customer_gradation = #{customer_gradation},
            </if>
            <if test="release_type != null ">
                release_type = #{release_type},
            </if>
            <if test="left_day != null ">
                left_day = #{left_day},
            </if>
            <if test="updated_at != null ">
                updated_at = #{updated_at},
            </if>

        </set>
        where id = #{id}
    </update>

    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            update customer_release
            <set>
                <if test="item.sn != null and item.sn !='' ">
                    sn = #{item.sn},
                </if>
                <if test="item.name != null and item.name !='' ">
                    name = #{item.name},
                </if>
                <if test="item.process_user_id != null ">
                    process_user_id = #{item.process_user_id},
                </if>
                <if test="item.team_id != null ">
                    team_id = #{item.team_id},
                </if>
                <if test="item.customer_category_id != null ">
                    customer_category_id = #{item.customer_category_id},
                </if>
                <if test="item.customer_gradation != null and item.customer_gradation !='' ">
                    customer_gradation = #{item.customer_gradation},
                </if>
                <if test="item.release_type != null ">
                    release_type = #{item.release_type},
                </if>
                <if test="item.left_day != null ">
                    left_day = #{item.left_day},
                </if>
                <if test="item.updated_at != null ">
                    updated_at = #{item.updated_at},
                </if>

            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getById" resultType="customerRelease">
		select
			id,sn,name,process_user_id,team_id,
			customer_category_id,customer_gradation,release_type,left_day,created_at,
			updated_at
		from customer_release
		where id = #{id}
	</select>

    <select id="getAll" resultType="customerRelease">
		select
			id,sn,name,process_user_id,team_id,
			customer_category_id,customer_gradation,release_type,left_day,created_at,
			updated_at
		from customer_release
	</select>

    <select id="getOneBySelectKey" resultType="customerRelease">
        select
        id,sn,name,process_user_id,team_id,
        customer_category_id,customer_gradation,release_type,left_day,created_at,
        updated_at
        from customer_release
        where 1 = 1
        <if test="sn != null and sn !=''">
            and sn = #{sn}
        </if>
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="process_user_id != null">
            and process_user_id = #{process_user_id}
        </if>
        <if test="team_id != null">
            and team_id = #{team_id}
        </if>
        <if test="customer_category_id != null">
            and customer_category_id = #{customer_category_id}
        </if>
        <if test="customer_gradation != null and customer_gradation !=''">
            and customer_gradation = #{customer_gradation}
        </if>
        <if test="release_type != null">
            and release_type = #{release_type}
        </if>
        <if test="left_day != null">
            and left_day = #{left_day}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

        limit 1
    </select>

    <select id="getAllBySelectKey" resultType="customerRelease">
        select
        id,sn,name,process_user_id,team_id,
        customer_category_id,customer_gradation,release_type,left_day,created_at,
        updated_at
        from customer_release
        where 1 = 1
        <if test="sn != null and sn !=''">
            and sn = #{sn}
        </if>
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="process_user_id != null">
            and process_user_id = #{process_user_id}
        </if>
        <if test="team_id != null">
            and team_id = #{team_id}
        </if>
        <if test="customer_category_id != null">
            and customer_category_id = #{customer_category_id}
        </if>
        <if test="customer_gradation != null and customer_gradation !=''">
            and customer_gradation = #{customer_gradation}
        </if>
        <if test="release_type != null">
            and release_type = #{release_type}
        </if>
        <if test="left_day != null">
            and left_day = #{left_day}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>
        <if test="process_user_ids != null and process_user_ids.size>0 ">
            and process_user_id in
            <foreach collection="process_user_ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="countByPage" resultType="java.lang.Integer">
        select count(1) from customer_release a
        where 1 = 1
        <if test="process_user_id != null">
            and a.process_user_id = #{process_user_id}
        </if>
        <if test="allocate_again == 1">
            and a.allocate_again &gt;= 2
        </if>
        <if test="process_user_ids != null and process_user_ids.size>0 ">
            and a.process_user_id in
            <foreach collection="process_user_ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getByPage" resultType="customerRelease">
        select
        a.id,a.sn,a.name,a.process_user_id,
        a.team_id,a.customer_gradation,a.release_type,a.left_day,a.allocate_again,a.created_at,
        a.updated_at,
        u.name as process_user_name
        from customer_release a
        left join users u on u.id = a.process_user_id
        where 1 = 1
        <if test="process_user_id != null">
            and a.process_user_id = #{process_user_id}
        </if>
        <if test="allocate_again == 1">
            and a.allocate_again &gt;= 2
        </if>
        <if test="process_user_ids != null and process_user_ids.size>0 ">
            and a.process_user_id in
            <foreach collection="process_user_ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        order by a.process_user_id asc,a.left_day asc,a.id asc
        limit #{offset},#{limit}
    </select>

    <update id="truncate">
        truncate table customer_release
    </update>

</mapper>