<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.customer.CustomerMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into customer
			(sn,name,unique_id,customer_category_id,customer_category_id2,
			customer_category_id3,customer_level_id,shop_url,province,city,
			business_address,process_user_id,team_id,customer_product_category_id,customer_product_nation_id,
			trade_month,customer_gradation,trade_type,activeness,total_amount,
			near_deal_time,prev_deal_time,bind_time,allocate_again,shop_num,created_at,
			updated_at)
		values
			(#{sn},#{name},#{unique_id},#{customer_category_id},#{customer_category_id2},
			#{customer_category_id3},#{customer_level_id},#{shop_url},#{province},#{city},
			#{business_address},#{process_user_id},#{team_id},#{customer_product_category_id},#{customer_product_nation_id},
			#{trade_month},#{customer_gradation},#{trade_type},#{activeness},#{total_amount},
			#{near_deal_time},#{prev_deal_time},#{bind_time},#{allocate_again},#{shop_num},#{created_at},
			#{updated_at})
	</insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into customer
        (sn,name,unique_id,customer_category_id,customer_category_id2,
        customer_category_id3,customer_level_id,shop_url,province,city,
        business_address,process_user_id,team_id,customer_product_category_id,customer_product_nation_id,
        trade_month,customer_gradation,trade_type,activeness,total_amount,
        near_deal_time,prev_deal_time,bind_time,allocate_again,shop_num,created_at,
        updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.sn},#{item.name},#{item.unique_id},#{item.customer_category_id},#{item.customer_category_id2},
            #{item.customer_category_id3},#{item.customer_level_id},#{item.shop_url},#{item.province},#{item.city},
            #{item.business_address},#{item.process_user_id},#{item.team_id},#{item.customer_product_category_id},#{item.customer_product_nation_id},
            #{item.trade_month},#{item.customer_gradation},#{item.trade_type},#{item.activeness},#{item.total_amount},
            #{item.near_deal_time},#{item.prev_deal_time},#{item.bind_time},#{item.allocate_again},,#{item.shop_num},#{item.created_at},
            #{item.updated_at})
        </foreach>
    </insert>

    <update id="delete">
		update customer set delete_status = 1,deleted_at = #{deleted_at} where id = #{id}
	</update>

    <update id="deleteByIds">
        update customer set delete_status = 1, deleted_at = #{deleted_at} where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="update">
        update customer
        <set>
            <if test="sn != null and sn !='' ">
                sn = #{sn},
            </if>
            <if test="name != null and name !='' ">
                name = #{name},
            </if>
            <if test="unique_id != null and unique_id !='' ">
                unique_id = #{unique_id},
            </if>
            <if test="customer_category_id != null ">
                customer_category_id = #{customer_category_id},
            </if>
            <if test="customer_category_id2 != null ">
                customer_category_id2 = #{customer_category_id2},
            </if>
            <if test="customer_category_id3 != null ">
                customer_category_id3 = #{customer_category_id3},
            </if>
            <if test="customer_category_id3 == null">
                customer_category_id3 = null,
            </if>
            <if test="customer_level_id != null ">
                customer_level_id = #{customer_level_id},
            </if>
            <if test="shop_url != null and shop_url !='' ">
                shop_url = #{shop_url},
            </if>
            <if test="province != null and province !='' ">
                province = #{province},
            </if>
            <if test="city != null and city !='' ">
                city = #{city},
            </if>
            <if test="business_address != null and business_address !='' ">
                business_address = #{business_address},
            </if>
            <if test="process_user_id != null ">
                process_user_id = #{process_user_id},
            </if>
            <if test="team_id != null ">
                team_id = #{team_id},
            </if>
            <if test="customer_product_category_id != null ">
                customer_product_category_id = #{customer_product_category_id},
            </if>
            <if test="customer_product_nation_id != null ">
                customer_product_nation_id = #{customer_product_nation_id},
            </if>
            <if test="trade_month != null ">
                trade_month = #{trade_month},
            </if>
            <if test="customer_gradation != null and customer_gradation !='' ">
                customer_gradation = #{customer_gradation},
            </if>
            <if test="trade_type != null ">
                trade_type = #{trade_type},
            </if>
            <if test="activeness != null ">
                activeness = #{activeness},
            </if>
            <if test="total_amount != null">
                total_amount = total_amount + #{total_amount},
            </if>
            <if test="near_deal_time != null ">
                near_deal_time = #{near_deal_time},
            </if>
            <if test="prev_deal_time != null ">
                prev_deal_time = #{prev_deal_time},
            </if>
            <if test="bind_time != null ">
                bind_time = #{bind_time},
            </if>
            <if test="allocate_again != null ">
                allocate_again = #{allocate_again},
            </if>
            <if test="shop_num != null ">
                shop_num = shop_num + #{shop_num},
            </if>
            <if test="updated_at != null ">
                updated_at = #{updated_at},
            </if>

        </set>
        where id = #{id}
    </update>

    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            update customer
            <set>
                <if test="item.sn != null and item.sn !='' ">
                    sn = #{item.sn},
                </if>
                <if test="item.name != null and item.name !='' ">
                    name = #{item.name},
                </if>
                <if test="item.unique_id != null and item.unique_id !='' ">
                    unique_id = #{item.unique_id},
                </if>
                <if test="item.customer_category_id != null ">
                    customer_category_id = #{item.customer_category_id},
                </if>
                <if test="item.customer_category_id2 != null ">
                    customer_category_id2 = #{item.customer_category_id2},
                </if>
                <if test="item.customer_category_id3 != null ">
                    customer_category_id3 = #{item.customer_category_id3},
                </if>
                <if test="item.customer_level_id != null ">
                    customer_level_id = #{item.customer_level_id},
                </if>
                <if test="item.shop_url != null and item.shop_url !='' ">
                    shop_url = #{item.shop_url},
                </if>
                <if test="item.province != null and item.province !='' ">
                    province = #{item.province},
                </if>
                <if test="item.city != null and item.city !='' ">
                    city = #{item.city},
                </if>
                <if test="item.business_address != null and item.business_address !='' ">
                    business_address = #{item.business_address},
                </if>
                <if test="item.process_user_id != null ">
                    process_user_id = #{item.process_user_id},
                </if>
                <if test="item.team_id != null ">
                    team_id = #{item.team_id},
                </if>
                <if test="item.customer_product_category_id != null ">
                    customer_product_category_id = #{item.customer_product_category_id},
                </if>
                <if test="item.customer_product_nation_id != null ">
                    customer_product_nation_id = #{item.customer_product_nation_id},
                </if>
                <if test="item.trade_month != null ">
                    trade_month = #{item.trade_month},
                </if>
                <if test="item.customer_gradation != null and item.customer_gradation !='' ">
                    customer_gradation = #{item.customer_gradation},
                </if>
                <if test="item.trade_type != null ">
                    trade_type = #{item.trade_type},
                </if>
                <if test="item.activeness != null ">
                    activeness = #{item.activeness},
                </if>
                <if test="item.total_amount != null ">
                    total_amount = #{item.total_amount},
                </if>
                <if test="item.near_deal_time != null ">
                    near_deal_time = #{item.near_deal_time},
                </if>
                <if test="item.prev_deal_time != null ">
                    prev_deal_time = #{item.prev_deal_time},
                </if>
                <if test="item.bind_time != null ">
                    bind_time = #{item.bind_time},
                </if>
                <choose>
                    <when test="item.allocate_again == 999">
                        allocate_again = allocate_again + 1
                    </when>
                    <when test="item.allocate_again != null">
                        allocate_again = #{item.allocate_again},
                    </when>
                </choose>
                <if test="item.shop_num != null ">
                    shop_num = #{item.shop_num},
                </if>
                <if test="item.updated_at != null ">
                    updated_at = #{item.updated_at},
                </if>

            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getById" resultType="customer">
		select
			id,sn,name,unique_id,customer_category_id,
			customer_category_id2,customer_category_id3,customer_level_id,shop_url,province,
			city,business_address,process_user_id,team_id,customer_product_category_id,
			customer_product_nation_id,trade_month,customer_gradation,trade_type,activeness,
			total_amount,near_deal_time,prev_deal_time,bind_time,allocate_again,
			shop_num,created_at,updated_at,deleted_at,delete_status
		from customer
		where id = #{id}
	</select>

    <select id="getAll" resultType="customer">
		select
			id,sn,name,unique_id,customer_category_id,
			customer_category_id2,customer_category_id3,customer_level_id,shop_url,province,
			city,business_address,process_user_id,team_id,customer_product_category_id,
			customer_product_nation_id,trade_month,customer_gradation,trade_type,activeness,
			total_amount,near_deal_time,prev_deal_time,bind_time,allocate_again,
			shop_num,created_at,updated_at
		from customer
		where delete_status = 0
	</select>

    <select id="getOneBySelectKey" resultType="customer">
        select
        id,sn,name,unique_id,customer_category_id,
        customer_category_id2,customer_category_id3,customer_level_id,shop_url,province,
        city,business_address,process_user_id,team_id,customer_product_category_id,
        customer_product_nation_id,trade_month,customer_gradation,trade_type,activeness,
        total_amount,near_deal_time,prev_deal_time,bind_time,allocate_again,
        shop_num,created_at,updated_at
        from customer
        where delete_status = 0
        <if test="sn != null and sn !=''">
            and sn = #{sn}
        </if>
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="unique_id != null and unique_id !=''">
            and unique_id = #{unique_id}
        </if>
        <if test="customer_category_id != null">
            and customer_category_id = #{customer_category_id}
        </if>
        <if test="customer_category_id2 != null">
            and customer_category_id2 = #{customer_category_id2}
        </if>
        <if test="customer_category_id3 != null">
            and customer_category_id3 = #{customer_category_id3}
        </if>
        <if test="customer_level_id != null">
            and customer_level_id = #{customer_level_id}
        </if>
        <if test="shop_url != null and shop_url !=''">
            and shop_url = #{shop_url}
        </if>
        <if test="province != null and province !=''">
            and province = #{province}
        </if>
        <if test="city != null and city !=''">
            and city = #{city}
        </if>
        <if test="business_address != null and business_address !=''">
            and business_address = #{business_address}
        </if>
        <if test="process_user_id != null">
            and process_user_id = #{process_user_id}
        </if>
        <if test="team_id != null">
            and team_id = #{team_id}
        </if>
        <if test="customer_product_category_id != null">
            and customer_product_category_id = #{customer_product_category_id}
        </if>
        <if test="customer_product_nation_id != null">
            and customer_product_nation_id = #{customer_product_nation_id}
        </if>
        <if test="trade_month != null">
            and trade_month = #{trade_month}
        </if>
        <if test="customer_gradation != null and customer_gradation !=''">
            and customer_gradation = #{customer_gradation}
        </if>
        <if test="trade_type != null">
            and trade_type = #{trade_type}
        </if>
        <if test="activeness != null">
            and activeness = #{activeness}
        </if>
        <if test="total_amount != null">
            and total_amount = #{total_amount}
        </if>
        <if test="near_deal_time != null">
            and near_deal_time = #{near_deal_time}
        </if>
        <if test="prev_deal_time != null">
            and prev_deal_time = #{prev_deal_time}
        </if>
        <if test="bind_time != null">
            and bind_time = #{bind_time}
        </if>
        <if test="allocate_again != null">
            and allocate_again = #{allocate_again}
        </if>
        <if test="shop_num != null">
            and shop_num = #{shop_num}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

        limit 1
    </select>

    <select id="getAllBySelectKey" resultType="customer">
        select
        id,sn,name,unique_id,customer_category_id,
        customer_category_id2,customer_category_id3,customer_level_id,shop_url,province,
        city,business_address,process_user_id,team_id,customer_product_category_id,
        customer_product_nation_id,trade_month,customer_gradation,trade_type,activeness,
        total_amount,near_deal_time,prev_deal_time,bind_time,allocate_again,
        created_at,updated_at
        from customer
        where delete_status = 0
        <if test="sn != null and sn !=''">
            and sn = #{sn}
        </if>
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="unique_id != null and unique_id !=''">
            and unique_id = #{unique_id}
        </if>
        <if test="customer_category_id != null">
            and customer_category_id = #{customer_category_id}
        </if>
        <if test="customer_category_id2 != null">
            and customer_category_id2 = #{customer_category_id2}
        </if>
        <if test="customer_category_id3 != null">
            and customer_category_id3 = #{customer_category_id3}
        </if>
        <if test="customer_level_id != null">
            and customer_level_id = #{customer_level_id}
        </if>
        <if test="shop_url != null and shop_url !=''">
            and shop_url = #{shop_url}
        </if>
        <if test="province != null and province !=''">
            and province = #{province}
        </if>
        <if test="city != null and city !=''">
            and city = #{city}
        </if>
        <if test="business_address != null and business_address !=''">
            and business_address = #{business_address}
        </if>
        <if test="process_user_id != null">
            and process_user_id = #{process_user_id}
        </if>
        <if test="team_id != null">
            and team_id = #{team_id}
        </if>
        <if test="customer_product_category_id != null">
            and customer_product_category_id = #{customer_product_category_id}
        </if>
        <if test="customer_product_nation_id != null">
            and customer_product_nation_id = #{customer_product_nation_id}
        </if>
        <if test="trade_month != null">
            and trade_month = #{trade_month}
        </if>
        <if test="customer_gradation != null and customer_gradation !=''">
            and customer_gradation = #{customer_gradation}
        </if>
        <if test="trade_type != null">
            and trade_type = #{trade_type}
        </if>
        <if test="activeness != null">
            and activeness = #{activeness}
        </if>
        <if test="total_amount != null">
            and total_amount = #{total_amount}
        </if>
        <if test="near_deal_time != null">
            and near_deal_time = #{near_deal_time}
        </if>
        <if test="prev_deal_time != null">
            and prev_deal_time = #{prev_deal_time}
        </if>
        <if test="bind_time != null">
            and bind_time = #{bind_time}
        </if>
        <if test="allocate_again != null">
            and allocate_again = #{allocate_again}
        </if>
        <if test="shop_num != null">
            and shop_num = #{shop_num}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

    </select>


    <select id="getMaxSn" resultType="java.lang.String">
        select max(sn) from customer where customer_category_id = #{customer_category_id}
    </select>

    <select id="countByPage" resultType="java.lang.Integer">
        select count(distinct(a.id))
        from customer a
        <if test="user_tag_id != null">
            left join customer_tag_relation e on a.id = e.customer_id
        </if>
        where a.delete_status = 0
        <if test="team_id != null">
            and a.team_id = #{team_id}
        </if>
        <if test="keyword != null and keyword !=''">
            and (a.name like concat('%',#{keyword},'%') or
            a.unique_id like concat('%',#{keyword},'%') or
            a.sn like concat('%',#{keyword},'%'))
        </if>
        <if test="customer_gradations != null and customer_gradations !='' ">
            and FIND_IN_SET(a.customer_gradation,#{customer_gradations})
        </if>
        <if test="create_start != null and create_start != ''">
            and a.created_at &gt;= #{create_start}
        </if>
        <if test="create_end != null and create_end != ''">
            and a.created_at &lt;= #{create_end}
        </if>
        <if test="customer_level_ids != null and customer_level_ids != ''">
            and FIND_IN_SET(a.customer_level_id,#{customer_level_ids})
        </if>
        <if test="process_user_id != null">
            and a.process_user_id = #{process_user_id}
        </if>
        <if test="shop_num != null">
            and a.shop_num = #{shop_num}
        </if>
        <if test="province != null and province !=''">
            and a.province = #{province}
        </if>
        <if test="city != null and city !=''">
            and a.city = #{city}
        </if>
        <if test="process_user_ids != null and process_user_ids.size>0 ">
            and a.process_user_id in
            <foreach collection="process_user_ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="user_tag_id != null">
            and e.user_tag_id = #{user_tag_id}
        </if>
        <if test="customer_product_category_ids != null and customer_product_category_ids !=''">
            and FIND_IN_SET(a.customer_product_category_id,#{customer_product_category_ids})
        </if>
        <if test="customer_product_nation_ids != null and customer_product_nation_ids !='' ">
            and FIND_IN_SET(a.customer_product_nation_id,#{customer_product_nation_ids})
        </if>
        <if test="categoryIds2 != null and categoryIds2 != ''">
            and FIND_IN_SET(a.customer_category_id2,#{categoryIds2})
        </if>
        <if test="amount_start != null ">
            and a.total_amount &gt;= #{amount_start}
        </if>
        <if test="amount_end != null">
            and a.total_amount &lt;= #{amount_end}
        </if>
    </select>

    <select id="getByPage" resultType="customer">
        select distinct (a.id) as id,
        a.sn,a.name,a.unique_id,a.customer_category_id,b.name as customer_category_name,
        a.customer_level_id,c.name as customer_level_name, a.province,a.city,a.customer_gradation,
        a.process_user_id,d.name as process_user_name ,a.total_amount,a.created_at,a.shop_num,
        a.activeness,a.trade_type,a.customer_product_category_id,a.customer_product_nation_id,a.shop_url,a.trade_month,a.customer_category_id2,a.customer_category_id3
        <if test="mobile != null and mobile != ''">
            ,(select mobile from customer_contact f WHERE f.customer_id = a.id LIMIT 1)as mobile
        </if>
        from customer a
        left join customer_category b on b.id = a.customer_category_id
        left join customer_level c on c.id = a.customer_level_id
        left join users d on d.id = a.process_user_id
        <if test="user_tag_id != null">
            left join customer_tag_relation e on a.id = e.customer_id
        </if>
        where a.delete_status = 0
        <if test="team_id != null">
            and a.team_id = #{team_id}
        </if>
        <if test="keyword != null and keyword !=''">
            and (a.name like concat('%',#{keyword},'%') or
            a.unique_id like concat('%',#{keyword},'%') or
            a.sn like concat('%',#{keyword},'%'))
        </if>
        <if test="customer_gradations != null and customer_gradations !='' ">
            and FIND_IN_SET(a.customer_gradation,#{customer_gradations})
        </if>
        <if test="create_start != null and create_start != ''">
            and a.created_at &gt;= #{create_start}
        </if>
        <if test="create_end != null and create_end != ''">
            and a.created_at &lt;= #{create_end}
        </if>
        <if test="customer_level_ids != null and customer_level_ids != ''">
            and FIND_IN_SET(a.customer_level_id,#{customer_level_ids})
        </if>
        <if test="process_user_id != null">
            and a.process_user_id = #{process_user_id}
        </if>
        <if test="shop_num != null">
            and a.shop_num = #{shop_num}
        </if>
        <if test="province != null and province !=''">
            and a.province = #{province}
        </if>
        <if test="city != null and city !=''">
            and a.city = #{city}
        </if>
        <if test="process_user_ids != null and process_user_ids.size>0 ">
            and a.process_user_id in
            <foreach collection="process_user_ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="user_tag_id != null">
            and e.user_tag_id = #{user_tag_id}
        </if>
        <if test="customer_product_category_ids != null and customer_product_category_ids !=''">
            and FIND_IN_SET(a.customer_product_category_id,#{customer_product_category_ids})
        </if>
        <if test="customer_product_nation_ids != null and customer_product_nation_ids !='' ">
            and FIND_IN_SET(a.customer_product_nation_id,#{customer_product_nation_ids})
        </if>
        <if test="categoryIds2 != null and categoryIds2 != ''">
            and FIND_IN_SET(a.customer_category_id2,#{categoryIds2})
        </if>
        <if test="amount_start != null ">
            and a.total_amount &gt;= #{amount_start}
        </if>
        <if test="amount_end != null">
            and a.total_amount &lt;= #{amount_end}
        </if>
        order by a.created_at desc ,a.sn desc
        limit #{offset},#{limit}
    </select>

    <select id="getByIds" resultType="customer">
        select
        id,sn,name,unique_id,customer_category_id,
        customer_category_id2,customer_category_id3,customer_level_id,shop_url,province,
        city,business_address,process_user_id,customer_product_category_id,customer_product_nation_id,trade_month,
        customer_gradation,trade_type,activeness,shop_num,total_amount,created_at,
        updated_at
        from customer where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="processAll" resultType="customer">
        select
            a.id,a.sn,a.name,a.unique_id,
            a.customer_category_id,
            a.customer_category_id2,
            a.customer_category_id3,
            a.customer_level_id, c.name as customer_level_name,
            a.shop_url,a.province,a.city,a.business_address,
            a.process_user_id,d.name as process_user_name ,
            a.customer_product_category_id,e.name as customer_product_category_name,
            a.customer_product_nation_id,f.name as customer_product_nation_name,
            a.trade_month,a.customer_gradation,
            a.trade_type,
            a.activeness,
            a.shop_num,
            a.total_amount,a.created_at
        from customer a
        left join customer_level c on c.id = a.customer_level_id
        left join users d on d.id = a.process_user_id
        left join customer_product_category e on e.id = a.customer_product_category_id
        left join customer_product_nation f on f.id = a.customer_product_nation_id
        where a.id = #{id}
    </select>

    <select id="countByActiveCustomerDateReport" resultType="java.lang.Integer">
        select count(1) from customer where  delete_status = 0 and activeness between 0 and  2
    </select>

    <resultMap id="customerDateReportMap" type="com.bs.manage.model.bean.customer.CustomerDateReport">
        <result column="query_type" property="queryType"/>
        <result column="a_id" property="customer_id"/>
        <result column="a_created_at" property="created_at"/>
        <result column="a_activeness" property="activeness"/>
        <result column="customer_gradation" property="customer_gradation"/>
        <result column="process_user_id" property="process_user_id"/>
        <result column="customer_category_id" property="customer_category_id"/>
        <association property="dateReports" resultMap="com.bs.manage.mapper.console.DateReportMapper.dateReportMap"/>
    </resultMap>

    <select id="getByActiveCustomerDateReport" resultType="customer">
            select  id,activeness,near_deal_time,prev_deal_time,created_at
            from customer
            where  delete_status = 0 and activeness between 0 and  2
            limit #{offset},#{limit}
    </select>

    <!--    未拜访和未成交金额为0,未复购金额大于0即visit_result=1-->
    <!--    未拜访和未成交区别在于是否填了日报-->
    <select id="getByReleaseCustomer" resultType="customerRelease">
        select #{release_type} as release_type,
        a.sn,a.name,a.process_user_id,a.team_id,a.customer_category_id,a.customer_gradation,a.id,a.allocate_again,a.created_at,a.updated_at,
        <choose>
            <when test="release_type == 1">
                #{left_day}-TIMESTAMPDIFF(DAY,a.bind_time,now()) as left_day,
            </when>
            <when test="release_type == 2">
                #{left_day}-TIMESTAMPDIFF(DAY,max(b.created_at),now()) as left_day,
            </when>
            <otherwise>
                #{left_day}-TIMESTAMPDIFF(DAY,max(b.created_at),now()) as left_day,
            </otherwise>
        </choose>
        count(b.id) as num
        from customer a
        left join date_report b on b.customer_id = a.id
        where a.delete_status = 0
        and a.customer_gradation = #{customer_gradation}
        <choose>
            <when test="release_type == 1 || release_type == 2">
                and a.total_amount = 0
            </when>
            <otherwise>
                and b.visit_result = 1
            </otherwise>
        </choose>
        and a.process_user_id != 0
        group by a.id
        having
        <choose>
            <when test="release_type == 1">
                num = 0 and left_day &lt;= 3
            </when>
            <when test="release_type == 2">
                num > 0 and left_day &lt;= 7
            </when>
            <otherwise>
                left_day &lt;= 30
            </otherwise>
        </choose>
    </select>

    <resultMap id="customerAndShopMap" type="com.bs.manage.model.bean.customer.Customer">
        <result column="sn" property="sn"/>
        <result column="name" property="name"/>
        <result column="process_user_id" property="process_user_id"/>
        <result column="unique_id" property="unique_id"/>
        <result column="process_user_name" property="process_user_name"/>
        <association property="customerShops" resultMap="shopMap"/>
    </resultMap>
    <resultMap id="shopMap" type="com.bs.manage.model.bean.customer.CustomerShop">
        <result column="b_name" property="name"/>
        <result column="b_unique_id" property="unique_id"/>
    </resultMap>

    <select id="judgeRepeat" resultMap="customerAndShopMap">
        select  a.sn,a.name,a.process_user_id,a.unique_id,u.name as process_user_name,
                b.name as b_name,b.unique_id as b_unique_id
        from customer a
        left join customer_shop b on b.parent_unique_id = a.unique_id and b.delete_status = 0
        left join users u on u.id = a.process_user_id
        where a.delete_status = 0 and
        <choose>
            <when test="customerShops != null and customerShops.size>0">
                (a.unique_id in
                <foreach collection="customerShops" item="customerShop" open="(" separator="," close=")">
                    #{customerShop.parent_unique_id}
                </foreach>
                  or (a.name like concat('%',#{keyword},'%') or a.unique_id like concat('%',#{keyword},'%') )
                )
            </when>
            <otherwise>
                 (a.name like concat('%',#{keyword},'%') or a.unique_id like concat('%',#{keyword},'%') )
            </otherwise>
        </choose>
        limit 10
    </select>

    <select id="countBindCustomer" resultType="java.lang.Integer">
        select count(1) from customer where process_user_id =#{userId} and delete_status = 0
    </select>

    <update id="releaseAllByUserId">
        UPDATE customer SET process_user_id = 0 WHERE process_user_id = #{userId};
    </update>
</mapper>