<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.customer.ProductCategoryMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into customer_product_category (name,created_at,updated_at)values (#{name},#{created_at},#{updated_at})
    </insert>

    <update id="delete">
        update customer_product_category set delete_status = 1,deleted_at = #{deleted_at} where id = #{id}
    </update>

    <update id="update">
        update customer_product_category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="updated_at != null">
                updated_at = #{updated_at},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getAll" resultType="productCategory">
        select id,name  from customer_product_category where delete_status = 0
    </select>

    <select id="hasUsed" resultType="java.lang.Boolean">
        select exists (select 1 from customer where customer_product_category_id = #{id})
    </select>

</mapper>