<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.region.RegionMapper">

    <select id="getAll" resultType="region">
       select id,name,parent_id,type
		from region
		where delete_status = 0  and is_oversea = 0 and type BETWEEN 1 and 2
	</select>

</mapper>