<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.kpi.KpiContentMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into kpi_content
			(kpi_id,kpi_type,kpi_label,kpi_content,kpi_goal,
			weight,created_at,updated_at)
		values
			(#{kpi_id},#{kpi_type},#{kpi_label},#{kpi_content},#{kpi_goal},
			#{weight},#{created_at},#{updated_at})
	</insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into kpi_content
        (kpi_id,kpi_type,kpi_label,kpi_content,kpi_goal,
        weight,created_at,updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.kpi_id},#{item.kpi_type},#{item.kpi_label},#{item.kpi_content},#{item.kpi_goal},
            #{item.weight},#{item.created_at},#{item.updated_at})
        </foreach>
    </insert>

    <delete id="delete">
		delete from kpi_content where id = #{id}
	</delete>

    <delete id="deleteByIds">
        delete from kpi_content where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update">
        update kpi_content
        <set>
            <if test="oneself_deal != null and oneself_deal !='' ">
                oneself_deal = #{oneself_deal},
            </if>
            <if test="actual_deal != null and actual_deal !='' ">
                actual_deal = #{actual_deal},
            </if>
            <if test="oneself_score != null ">
                oneself_score = #{oneself_score},
            </if>
            <if test="superior_score != null ">
                superior_score = #{superior_score},
            </if>
            <if test="updated_at != null ">
                updated_at = #{updated_at},
            </if>

        </set>
        where id = #{id}
    </update>

    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            update kpi_content
            <set>
                <if test="item.oneself_deal != null and item.oneself_deal !='' ">
                    oneself_deal = #{item.oneself_deal},
                </if>
                <if test="item.actual_deal != null and item.actual_deal !='' ">
                    actual_deal = #{item.actual_deal},
                </if>
                <if test="item.oneself_score != null ">
                    oneself_score = #{item.oneself_score},
                </if>
                <if test="item.superior_score != null ">
                    superior_score = #{item.superior_score},
                </if>
                <if test="item.updated_at != null ">
                    updated_at = #{item.updated_at},
                </if>

            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getById" resultType="kpiContent">
		select
			id,kpi_id,kpi_type,kpi_label,kpi_content,
			kpi_goal,oneself_deal,actual_deal,weight,oneself_score,superior_score,
			created_at,updated_at
		from kpi_content
		where id = #{id}
	</select>

    <select id="getAll" resultType="kpiContent">
		select
			id,kpi_id,kpi_type,kpi_label,kpi_content,
			kpi_goal,oneself_deal,actual_deal,weight,oneself_score,superior_score,
			created_at,updated_at
		from kpi_content
	</select>

    <select id="getOneBySelectKey" resultType="kpiContent">
        select
        id,kpi_id,kpi_type,kpi_label,kpi_content,
        kpi_goal,oneself_deal,actual_deal,weight,oneself_score,superior_score,
        created_at,updated_at
        from kpi_content
        where 1 = 1
        <if test="kpi_id != null">
            and kpi_id = #{kpi_id}
        </if>
        <if test="kpi_type != null and kpi_type !=''">
            and kpi_type = #{kpi_type}
        </if>
        <if test="kpi_label != null and kpi_label !=''">
            and kpi_label = #{kpi_label}
        </if>
        <if test="kpi_content != null and kpi_content !=''">
            and kpi_content = #{kpi_content}
        </if>
        <if test="kpi_goal != null and kpi_goal !=''">
            and kpi_goal = #{kpi_goal}
        </if>
        <if test="oneself_deal != null and oneself_deal !=''">
            and oneself_deal = #{oneself_deal}
        </if>
        <if test="actual_deal != null and actual_deal !=''">
            and actual_deal = #{actual_deal}
        </if>
        <if test="weight != null">
            and weight = #{weight}
        </if>
        <if test="oneself_score != null">
            and oneself_score = #{oneself_score}
        </if>
        <if test="superior_score != null">
            and superior_score = #{superior_score}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

        limit 1
    </select>

    <select id="getAllBySelectKey" resultType="kpiContent">
        select
        id,kpi_id,kpi_type,kpi_label,kpi_content,
        kpi_goal,oneself_deal,actual_deal,weight,oneself_score,superior_score,
        created_at,updated_at
        from kpi_content
        where 1 = 1
        <if test="kpi_id != null">
            and kpi_id = #{kpi_id}
        </if>
        <if test="kpi_type != null and kpi_type !=''">
            and kpi_type = #{kpi_type}
        </if>
        <if test="kpi_label != null and kpi_label !=''">
            and kpi_label = #{kpi_label}
        </if>
        <if test="kpi_content != null and kpi_content !=''">
            and kpi_content = #{kpi_content}
        </if>
        <if test="kpi_goal != null and kpi_goal !=''">
            and kpi_goal = #{kpi_goal}
        </if>
        <if test="oneself_deal != null and oneself_deal !=''">
            and oneself_deal = #{oneself_deal}
        </if>
        <if test="actual_deal != null and actual_deal !=''">
            and actual_deal = #{actual_deal}
        </if>
        <if test="weight != null">
            and weight = #{weight}
        </if>
        <if test="oneself_score != null">
            and oneself_score = #{oneself_score}
        </if>
        <if test="superior_score != null">
            and superior_score = #{superior_score}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>

    </select>

    <delete id="deleteByKpiId">
		delete from kpi_content where kpi_id = #{kpiId}
	</delete>

</mapper>