<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.product.ProductProjectMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into product_project
			(name,product_brand_id,is_major,created_at,updated_at)
		values
			(#{name},#{product_brand_id},#{is_major},#{created_at},#{updated_at})
	</insert>

    <update id="delete">
		update product_project set delete_status = 1,deleted_at = #{deleted_at} where id = #{id}
	</update>


    <update id="update">
        update product_project
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="product_brand_id != null">
                product_brand_id = #{product_brand_id},
            </if>
            <if test="is_major != null">
                is_major = #{is_major},
            </if>
            <if test="updated_at != null">
                updated_at = #{updated_at},
            </if>

        </set>
        where id = #{id}
    </update>

    <select id="getById" resultType="productProject">
		select
			id,name,product_brand_id,is_major,created_at,updated_at
		from product_project
		where id = #{id} and delete_status = 0
	</select>

    <select id="getAll" resultType="productProject">
		select
			id,name,product_brand_id,is_major,created_at,updated_at,
			(select name from product_brand where id = product_brand_id)as product_brand_name
		from product_project
		where delete_status = 0
	</select>

    <select id="getOneBySelectKey" resultType="productProject">
        select
        id,name,product_brand_id,is_major,created_at,updated_at
        from product_project
        where delete_status = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="product_brand_id != null">
            and product_brand_id = #{product_brand_id}
        </if>
        <if test="is_major != null">
            and is_major = #{is_major}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>
        <if test="deleted_at != null">
            and deleted_at = #{deleted_at}
        </if>
        <if test="delete_status != null">
            and delete_status = #{delete_status}
        </if>

        limit 1
    </select>

    <select id="getAllBySelectKey" resultType="productProject">
        select
        id,name,product_brand_id,is_major,created_at,updated_at
        from product_project
        where delete_status = 0
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="product_brand_id != null">
            and product_brand_id = #{product_brand_id}
        </if>
        <if test="is_major != null">
            and is_major = #{is_major}
        </if>
        <if test="created_at != null">
            and created_at = #{created_at}
        </if>
        <if test="updated_at != null">
            and updated_at = #{updated_at}
        </if>
        <if test="deleted_at != null">
            and deleted_at = #{deleted_at}
        </if>
        <if test="delete_status != null">
            and delete_status = #{delete_status}
        </if>

    </select>


</mapper>