<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.manage.mapper.erp.SalesReleaseMapper">

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into sales_release
        (order_num,stock_out_num,warehouse,warehouse_type,shop_name,
        order_type,order_time,pay_time,deliver_count_down,status,
        original_order_num,deliver_goods_status,deliver_goods_condition,push_information,freezing_cause,
        sorting_number,make_order_user,goods_nums,goods_category,customer_net_name,
        consignee,receiving_area,receiver_address,receiver_mobile_phone,receiver_phone,
        email,logistics_company,total_cost,estimate_postage,postage_cost,
        estimate_weight,actual_weight,amount_receivable,amount_paid,amount_COD,
        contain_invoice,salesman,audit_user,finance_audit_user,print_user,
        order_picking_user,pack_user,examine_goods_user,inspector_user,deliver_goods_user,
        print_num,logistics_print_status,deliver_print_status,sorting_print_status,logistics_num,
        sorting_num,deliver_time,external_order_num,check_out_user,packaging,
        dispose_day,audit_create_time,Interception_cause,print_remark,volume,
        distributor,distribution_origin_order,goods_shop_num,source_type,created_at,
        updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.order_num},#{item.stock_out_num},#{item.warehouse},#{item.warehouse_type},#{item.shop_name},
            #{item.order_type},#{item.order_time},#{item.pay_time},#{item.deliver_count_down},#{item.status},
            #{item.original_order_num},#{item.deliver_goods_status},#{item.deliver_goods_condition},#{item.push_information},#{item.freezing_cause},
            #{item.sorting_number},#{item.make_order_user},#{item.goods_nums},#{item.goods_category},#{item.customer_net_name},
            #{item.consignee},#{item.receiving_area},#{item.receiver_address},#{item.receiver_mobile_phone},#{item.receiver_phone},
            #{item.email},#{item.logistics_company},#{item.total_cost},#{item.estimate_postage},#{item.postage_cost},
            #{item.estimate_weight},#{item.actual_weight},#{item.amount_receivable},#{item.amount_paid},#{item.amount_COD},
            #{item.contain_invoice},#{item.salesman},#{item.audit_user},#{item.finance_audit_user},#{item.print_user},
            #{item.order_picking_user},#{item.pack_user},#{item.examine_goods_user},#{item.inspector_user},#{item.deliver_goods_user},
            #{item.print_num},#{item.logistics_print_status},#{item.deliver_print_status},#{item.sorting_print_status},#{item.logistics_num},
            #{item.sorting_num},#{item.deliver_time},#{item.external_order_num},#{item.check_out_user},#{item.packaging},
            #{item.dispose_day},#{item.audit_create_time},#{item.Interception_cause},#{item.print_remark},#{item.volume},
            #{item.distributor},#{item.distribution_origin_order},#{item.goods_shop_num},#{item.source_type},#{item.created_at},
            #{item.updated_at})
        </foreach>
    </insert>


</mapper>